Interfaz_De_ususario/Interfaz_De_ususario/Connected Services/ServiceReference1/Pacientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PacienteDto" type="tns:PacienteDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PacienteDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdPaciente" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre_Paciente" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Edad" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Telefono" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Paciente" type="tns:Paciente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Paciente" />
      <s:element name="InsertarUsuarioResponse">
        <s:complexType />
      </s:element>
      <s:element name="ListarUsuarios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarUsuariosResult" type="tns:ArrayOfPacienteDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPacienteDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PacienteDTO" nillable="true" type="tns:PacienteDTO" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListaSucesos">
        <s:complexType />
      </s:element>
      <s:element name="ListaSucesosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaSucesosResult" type="tns:ArrayOfSucesoDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSucesoDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SucesoDTO" nillable="true" type="tns:SucesoDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SucesoDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idSuceso" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="suceso" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha_Suceso" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Suceso" type="tns:Suceso" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Suceso" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarUsuario" />
  </wsdl:message>
  <wsdl:message name="InsertarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ListarUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:ListarUsuarios" />
  </wsdl:message>
  <wsdl:message name="ListarUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:ListarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="ListaSucesosSoapIn">
    <wsdl:part name="parameters" element="tns:ListaSucesos" />
  </wsdl:message>
  <wsdl:message name="ListaSucesosSoapOut">
    <wsdl:part name="parameters" element="tns:ListaSucesosResponse" />
  </wsdl:message>
  <wsdl:portType name="PacientesSoap">
    <wsdl:operation name="InsertarUsuario">
      <wsdl:input message="tns:InsertarUsuarioSoapIn" />
      <wsdl:output message="tns:InsertarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuarios">
      <wsdl:input message="tns:ListarUsuariosSoapIn" />
      <wsdl:output message="tns:ListarUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaSucesos">
      <wsdl:input message="tns:ListaSucesosSoapIn" />
      <wsdl:output message="tns:ListaSucesosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PacientesSoap" type="tns:PacientesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarUsuario">
      <soap:operation soapAction="http://tempuri.org/InsertarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuarios">
      <soap:operation soapAction="http://tempuri.org/ListarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaSucesos">
      <soap:operation soapAction="http://tempuri.org/ListaSucesos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PacientesSoap12" type="tns:PacientesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarUsuario">
      <soap12:operation soapAction="http://tempuri.org/InsertarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuarios">
      <soap12:operation soapAction="http://tempuri.org/ListarUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaSucesos">
      <soap12:operation soapAction="http://tempuri.org/ListaSucesos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Pacientes">
    <wsdl:port name="PacientesSoap" binding="tns:PacientesSoap">
      <soap:address location="https://localhost:44337/Pacientes.asmx" />
    </wsdl:port>
    <wsdl:port name="PacientesSoap12" binding="tns:PacientesSoap12">
      <soap12:address location="https://localhost:44337/Pacientes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>